<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
    <h2>My Recipes!</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>CookTime</th>
            <th>Servings</th>
            <th>Direction</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">123</td>
                <td th:text="${recipe.description}">description</td>
                <td th:text="${recipe.cookTime}">cook time</td>
                <td th:text="${recipe.servings}">servings</td>
                <td th:text="${recipe.directions}">directions</td>
            </tr>
        </tbody>
    </table>
</body>
</html>